absl-py
accelerate
addict
aiohttp
aiosignal
antlr4-python3-runtime
appdirs
asttokens
async-timeout
attrs
braceexpand
cachetools
certifi
cfgv
charset-normalizer
click
clip-interrogator
comm
contourpy
cycler
dataclasses
debugpy
decorator
diffusers
distlib
docker-pycreds
einops
exceptiongroup
executing
ExifRead-nocycle
facexlib
filelock
filterpy
fire
fonttools
frozenlist
fsspec
ftfy
future
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
identify
idna
imageio
img2dataset
imgaug
importlib-metadata
iniconfig
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
llvmlite
lmdb
lpips
lz4
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mpmath
multidict
nest-asyncio
networkx
nodeenv
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
omegaconf
open-clip-torch
openai-clip
opencv-python
opencv-python-headless
packaging
pandas
parso
pexpect
pillow
platformdirs
pluggy
pre-commit
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
Pygments
pyiqa
pyparsing
pytest
python-dateutil
pytz
PyYAML
pyzmq
qudida
regex
requests
requests-oauthlib
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
sentry-sdk
setproctitle
shapely
six
smmap
stack-data
sympy

tensorboard
tensorboard-data-server
termcolor
threadpoolctl
tifffile
timm
tokenizers
tomli
torch
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
triton
typing_extensions
tzdata
urllib3
virtualenv
wandb
wcwidth
webdataset
Werkzeug
yapf
yarl
zipp
pyiqa
diffusers==0.25.1
lpips
lz4
peft==0.10.0

huggingface-hub==0.25.2
pyiqa==0.1.10
!pip install transformers==4.41.0
